@model ORCA.Models.OrcaDB.TicketEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrcaUser.OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUser.OrcaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.DescriptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.DescriptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDTStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDTStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketEntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
