
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>





            @Html.ActionLink("Marshall ORCA", "Index", new { area = "" }, new { @class = "navbar-brand" })





        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @*<li>@Html.ActionLink("Name displayed on link","Name of file","Folder location of file")</li>*@

                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("About", "About")</li>
                <li>@Html.ActionLink("Profile", "UserProfile")</li>
                <li>@Html.ActionLink("Logout", "Logout")</li>
            </ul>
        </div>
    </div>
</div>