@model ORCA.Models.OrcaDB.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrcaUserCreator.OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUserCreator.OrcaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrcaUserLastReplied.OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUserLastReplied.OrcaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTicketOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTicketOpen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
