@model IEnumerable<ORCA.Models.EditConsultationTicket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTicketOpen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTicketOpen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
