@model IEnumerable<ORCA.Models.OrcaDB.TicketExpert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpertConsultant.TitleDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUser.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.DescriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketActivityState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpertConsultant.TitleDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUser.OrcaUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.DescriptionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketActivityState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketExpertID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketExpertID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketExpertID })
        </td>
    </tr>
}

</table>
