@model ORCA.Models.OrcaDB.ConsultantExpertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsultantExpertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpertConsultant.OrcaUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertConsultant.OrcaUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrcaUser.OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUser.OrcaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldOfExpertise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldOfExpertise)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultantExpertiseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
