@model IEnumerable<ORCA.Models.OrcaDB.ConsultantExpertise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpertConsultant.OrcaUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUser.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldOfExpertise)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpertConsultant.OrcaUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUser.OrcaUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldOfExpertise)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsultantExpertiseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsultantExpertiseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsultantExpertiseID })
        </td>
    </tr>
}

</table>
