
@model ORCA.Models.ActiveExperts


@{
    ViewBag.Title = "Home";
}

<h1>Marshall Online Reporting & Consulting Application</h1>
<h4>@ViewBag.Message</h4>
<h3>Welcome @Session["OrcaUserName"]</h3>

@{
    TempData["SortOrder"] = ViewBag.SortOrder;
    //TempData["SearchString"] = ViewBag.SearchString;
}

@*<input type="button" value="New Reply" class="btn btn-default" onclick="location.href='@Url.Action("Consultations", new { sortOrder = ViewBag.SortOrder, selectionFilter = ConsultationTicketSelection.NewReply.ToString() })'" />
    <input type="submit" value="Search" onsubmit=@{TempData["SearchString"] = ViewBag.SearchString;} />*@


@*@using (Html.BeginForm())


{
    <p>
        Search Expert Consultants:  @Html.TextBox("searchString")
        <input type="submit" value="Search" onclick=@{ TempData["SearchString"] = null; } />
    </p>
    }*@


@using (Html.BeginForm())


{
    <p>
        Search Expert Consultants:  @Html.TextBox("searchString")
        <input type="submit" value="Search" onclick=@{ TempData["SearchString"] = null; } />
    </p>
    }





<h2>Meet the Marshall Expert Consultants</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Field of Expertise", "AddConsultant", new { sortOrder = ViewBag.FieldOfExpertiseSortParam, searchString = ViewBag.SearchString, ticketId = ViewBag.TicketID })
        </th>
        <th>
            @Html.ActionLink("Title/Degree", "AddConsultant", new { sortOrder = ViewBag.TitleDegreeSortParam, searchString = ViewBag.SearchString, ticketId = ViewBag.TicketID })
        </th>
        <th>
            @Html.ActionLink("User Name", "AddConsultant", new { sortOrder = ViewBag.OrcaUserNameSortParam, searchString = ViewBag.SearchString, ticketId = ViewBag.TicketID })
        </th>
        <th>
            @Html.ActionLink("First Name", "AddConsultant", new { sortOrder = ViewBag.FirstNameSortParam, searchString = ViewBag.SearchString, ticketId = ViewBag.TicketID })
        </th>
        <th>
            @Html.ActionLink("Last Name", "AddConsultant", new { sortOrder = ViewBag.LastNameSortParam, searchString = ViewBag.SearchString, ticketId = ViewBag.TicketID })
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Experts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfExpertise)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TitleDegree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrcaUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Add", "AddConsultantToTicket", new { consultantId = item.OrcaUserID, ticketId = ViewBag.TicketID, sortOrder = ViewBag.LastNameSortParam, searchString = ViewBag.SearchString })
            </td>

        </tr>
    }

</table>










<div>
    @Html.ActionLink("Home", "Index")
</div>
<div>
    @Html.ActionLink("About", "About")
</div>
<div>
    @Html.ActionLink("Consultations", "Consultations")
</div>
<div>
    @Html.ActionLink("Profile", "UserProfile")
</div>

