@model ORCA.Models.AddCon

@{
    ViewBag.Title = "AddCon";
}

<h2>AddCon</h2>








@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>AddCon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TicketID)

        <div class="form-group">
            @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SearchString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Html.Action("AddConList", new { ticketId = Model.TicketID, sortOrder = Model.SortOrder, searchString = Model.SearchString })