@model ORCA.Models.EditConsultationTicket

@{
    ViewBag.Title = "EditConsultationTicket";
}



<h2>ORCA Consultation</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTicketOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTicketOpen)
        </dd>

    </dl>
</div>







@{ 
    int tid = Model.TicketID;
    string sortOrder = SortBy.FieldOfExpertise.ToString();
    string searchString = "";
}
<div>
    <h2>
        @Html.ActionLink("Add Consultant", "AddConsultant", new { id = tid, ticketID = tid, sortOrder = sortOrder, searchString = searchString })
    </h2>

</div>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Expertise")
            </th>
            <th>
                @Html.DisplayName("Consultant User Name")
            </th>
            <th>
                @Html.DisplayName("Title/Degree")
            </th>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
        </tr>

        @foreach (var item in Model.CurrentTicketExperts.Experts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldOfExpertise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrcaUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleDegree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Remove Consultant", "RemoveConsultantFromTicket", new { consultantId = item.OrcaUserID, ticketId = Model.TicketID })
                </td>
            </tr>
        }
    </table>


    @using (Html.BeginForm())
    {

        <h3>Consultation Ticket Entries <input type="button" value="Reply/Add to Ticket" class="btn btn-default" onclick="location.href='@Url.Action("AddEntryToTicket", new { ticketId = Model.TicketID })'" /></h3>

        <table class="table">

            <tr>
                <th>
                    @Html.DisplayName("Posted By")
                </th>
                <th>
                    @Html.DisplayName("Date")
                </th>
                <th>
                    @Html.DisplayName("Entry Text")
                </th>
            </tr>

            @foreach (var item in Model.TicketEntries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrcaUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDTStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryText)
                    </td>

                </tr>
            }

        </table>

    }


    <div>
        @Html.ActionLink("Home", "Index")
    </div>
    <div>
        @Html.ActionLink("About", "About")
    </div>
    <div>
        @Html.ActionLink("Consultations", "Consultations")
    </div>
    <div>
        @Html.ActionLink("Profile", "UserProfile")
    </div>
