
@model ORCA.Models.ActiveExperts


@{
    ViewBag.Title = "Home";
}

@*
    ViewBag.FieldSortParam
    ViewBag.TitleSortParam
    ViewBag.FirstNameSortParam
    ViewBag.LastNameSortParam
*@

@*
    <h6>@Session["OrcaUserID"]</h6>
    <h6>@Session["OrcaUserName"]</h6>
    <h6>@Session["FirstName"]</h6>
    <h6>@Session["LastName"]</h6>
    <h6>@Session["UserType"]</h6>
*@

<h1>Marshall Online Reporting & Consulting Application</h1>

<h3>Welcome @Session["OrcaUserName"]</h3>

<h2>Meet the Marshall Expert Consultants</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Field of Expertise", "Index", new { sortOrder = ViewBag.FieldSortParam })
        </th>
        <th>
            @Html.ActionLink("Title/Degree", "Index", new { sortOrder = ViewBag.TitleSortParam })
        </th>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
    </tr>

    @foreach (var item in Model.Experts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfExpertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleDegree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
        </tr>
    }

</table>
