


@model ORCA.Models.Consultation.Consultation

@using ORCA.Models.Consultation
@{
    ViewBag.Title = "Consults";
}

<h2>Consults</h2>


@*int orcaUserID, 
OrcaUserType userViewType = OrcaUserType.Consultee, 
FilterTicketOption buttonPressFilter = FilterTicketOption.All, 
SortTicketOption sortOptionSelection = SortTicketOption.DTStamp_desc, 
string ticketSearchString = ""*@



@using (Html.BeginForm())
{

    <p>
        <h3>Filter Consultations</h3>
        <div>
            <input type="button" value="All" class="btn btn-default" onclick="location.href='@Url.Action("FilterConsults", new { id = Model.OrcaUserID_or_TicketExpertID, userViewType = Model.UserViewType, buttonPressFilter = Consultation.FilterTicketOption.All, sortOptionSelection = Model.SortTicketsOption, ticketSearchString = Model.TicketSearchString" })'" />

            <input type="button" value="Open" class="btn btn-default" onclick="location.href='@Url.Action("FilterConsults", new { id = Model.OrcaUserID_or_TicketExpertID, userViewType = Model.UserViewType, buttonPressFilter = Consultation.FilterTicketOption.Open, sortOptionSelection = Model.SortTicketsOption, ticketSearchString = Model.TicketSearchString })'" />

            <input type="button" value="Closed" class="btn btn-default" onclick="location.href='@Url.Action("FilterConsults", new { id = Model.OrcaUserID_or_TicketExpertID, userViewType = Model.UserViewType, buttonPressFilter = Consultation.FilterTicketOption.Closed, sortOptionSelection = Model.SortTicketsOption, ticketSearchString = Model.TicketSearchString })'" />

            <input type="button" value="New Reply" class="btn btn-default" onclick="location.href='@Url.Action("FilterConsults", new { id = Model.OrcaUserID_or_TicketExpertID, userViewType = Model.UserViewType, buttonPressFilter = Consultation.FilterTicketOption.NewReply, sortOptionSelection = Model.SortTicketsOption, ticketSearchString = Model.TicketSearchString })'" />

        </div>
    </p>
}




@*@{
    Html.RenderPartial("_Consultation_ConsultationTicketList");
}
@*@

@*@Html.Partial("_Consultation_ConsultationTicketList")*@


@*sdfsdfsd*@








<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrcaUserID_or_TicketExpertID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrcaUserID_or_TicketExpertID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
