

@model ORCA.Models.Consultation.Consultation

@using ORCA.Models.Consultation

@{
    ViewBag.Title = "Consults";
}

<h2>Consults</h2>


@{
    Html.RenderPartial("_Consults_Consultation_TicketList");
}


@*<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTickets.FirstOrDefault().TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTickets.FirstOrDefault().TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTickets.FirstOrDefault().OrcaUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTickets.FirstOrDefault().OrcaUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTickets.FirstOrDefault().DTStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTickets.FirstOrDefault().DTStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTickets.FirstOrDefault().DescriptionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTickets.FirstOrDefault().DescriptionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultationTickets.FirstOrDefault().TicketStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultationTickets.FirstOrDefault().TicketStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@




@*@{
    Html.RenderPartial("_Consultation_ConsultationTicketList");
}*@






@*<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserIDLastReplied)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrcaUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrcaUserIDLastReplied)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TicketID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TicketID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TicketID })
            </td>
        </tr>
    }

</table>*@
