@model ORCA.Models.ConsultantProfile

@{
    ViewBag.Title = "CPDetailsView";
}

<h2>CPDetailsView</h2>

<div>
    <h4>ConsultantProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyWordList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWordList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
