@model IEnumerable<ORCA.Models.ActiveExpert>

@{
    ViewBag.Title = "zzzListActExp";
}

<h2>zzzListActExp</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldOfExpertise)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldOfExpertise)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrcaUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrcaUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrcaUserID })
        </td>
    </tr>
}

</table>
