@model IEnumerable<ORCA.Models.Consultation.ConsultationTicket>

@{
    ViewBag.Title = "zzzz";
}

<h2>zzzz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcaUserNameLastReplied)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrcaUserNameLastReplied)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
        </td>
    </tr>
}

</table>
